/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
	backdrop-filter: blur(5px);
}

.modalBackGround {
	width: 100vw;
	height: 100vh;
	background-color: rgba(200, 200, 200, 0.5);
	/* background-image: url('https://image.shutterstock.com/image-vector/widescreen-abstract-financial-graph-uptrend-600w-1263779983.jpg'); */
	background-size: cover;
	position: fixed;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modalContainer {
	width: 500px;
	height: 200px;
	border-radius: 12px;
	/* background-color:white; */
	box-shadow: rgba(177, 123, 123, 0.35) 0px 5px 15px;
	display: flex;
	flex-direction: column;
	padding: 25px;
}

.body {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
}

.footer {
	margin-top: 20px;
	display: flex;
	justify-content: center;
}

@layer base {
	h1 {
		@apply text-3xl text-center;
	}
	h2 {
		@apply text-xl;
	}
}

@layer components {
	.btn-blue {
		@apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mx-5;
	}

	.glass {
		@apply bg-gradient-to-br from-gray-400 to-transparent  bg-opacity-20 shadow-md;
	}

	.input-style {
		@apply shadow appearance-none border border-red-500 rounded w-full py-2 px-3 text-gray-700 leading-tight;
	}
}
